<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>
<br>
<div class="bck_btn">
<%= link_to 'Back', controller: 'articles' %>   
</div>
